body {
    margin: 20px;
}

h1 {
    font-size: 2rem;
}

button.newBook {
    background-color: rgb(48, 121, 218);
    border: black solid 1px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
    margin-bottom: 20px;
}

button.newBook:hover {
    background-color: rgb(28, 141, 75);
    border: black solid 1px;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.5rem;
}

.library {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: 800px;

}

.libraryCard {
    height: 200px;
    width: 150px;
    border: blue solid 3px;
    border-radius: 5px;
    padding: 10px;
    border-left: 9px solid black;
    box-shadow: 10px 0 5px grey;
}

.libraryCard > .bookTitle {
    font-size: 1.5rem;
    font-weight: bold;
}

.libraryCard > .bookAuth {
    font-size: 1rem;
    font-style: italic;
}

::backdrop {
    background-image: linear-gradient(
      90deg,
      magenta,
      rebeccapurple,
      dodgerblue,
      green
    );
    opacity: 0.55;
  }